//colors
$base-color: rgb(86, 186, 253);
$alt-color: rgb(29, 5, 168);
$text-color: rgb(255, 255, 255);
$link-color: rgb(172, 233, 32);

//font
$font-main:'Lobster', cursive;
$font-headline:'Ma Shan Zheng', cursive;

//